@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 45rem;
  --breakpoint-laptop: 55rem;
  --breakpoint-desktop: 60rem;
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  @apply bg-white text-black
}