@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 45rem;
  --breakpoint-laptop: 55rem;
  --breakpoint-desktop: 60rem;
}

body {
  @apply bg-[#f8f6f1] text-black
}